.navbar {
  /* position: fixed; */
  width: 100vw; 
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
}

.logo {
  margin-left: 2vw;
  width: 500px;
  max-width: 80vw;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.search-input {
  height: 6vh;
  width: 25vw;
  border-radius: 10px;
  border: 2px solid #C20F08;
}

.searchbar button {
  background: none;
  fill: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  width: 80px;
}

.clear-icon {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 850px) {
  .logo {
    margin-right: 5vw;
    height: auto;
    width: 55vw;
  }
  .searchbar {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }
  .searchbar button {
    width: auto;
  }
  .clear-icon {
    width: 3vw;
  }
  .search-input {
    height: 3vh;
    width: 30vw;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-around;
  }

}

@media screen and (max-width: 600px) {
  .logo {
    margin: 0;
    width: 100vw;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .searchbar {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }
  .searchbar button {
    width: auto;
  }
  .clear-icon {
    width: 7vw;
  }
  .search-input {
    height: 3vh;
    width: 50vw;
  }
}