.article-card {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #C20F08;
  padding: 30px;
  height: 35vh;
  color: black;
  text-decoration: none;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  width: 70vw;
}

.card-details h2 {
  font-weight: 400;
}

.article-card img {
  max-width: 100%;
  height: auto;
}

.img-container {
  height: 150px;
  width: 300px
}